<!DOCTYPE html>
<html lang="en">
<%- include("./parts/head.ejs") %> 
<body>
  
      <%- include("./parts/header.ejs") %> 

      <section class="section_title">   
                <div class="overlay"></div>
                <div class="content-box">
                    <h1>Sistema de adoção de animais abandonados</h1>
                    <p>O objetivo do projeto Viva Pets é incentivar a adoção de animais e diminuir a taxa de abandono.</p>
                </div>
               
                
     </section>
     <section class="section-1">

        
     </section>
      
      <section class="section_main section_main-3"> 
        
        <div class="group-1"></div>
        <div class="group-2">
            <p>O objetivo do projeto Viva Pets é causar comoção por parte da população, incentivando-os a adoção de animais por meio da aplicação, e em contrapartida diminuir a taxa de abandono.
                Desenvolvemos um software capaz integrar toda a população e ONGs num objetivo de um maior controle sobre toda essa situação. Pelo próprio aplicativo e site será possível realizar diversas operações, como o cadastro e a divulgação de animais abandonados, que ocorrerá de forma dinâmica e fácil, possibilitando então estes serem adotados e encontrados rapidamente. </p>
        </div>
        
      </section>
      <%- include("./parts/footer.ejs") %> 
        
</body>
</html>