<!DOCTYPE html>
<html lang="en">
<%- include("./parts/head.ejs") %> 
<body>
  
      <%- include("./parts/header.ejs") %> 
      
      <section class="section_title">   
                <div class="overlay"></div>
                <div class="content-box">
                    <h1>Sistema de adoção de animais abandonados</h1>
                    <p>O objetivo do projeto Viva Pets é incentivar a adoção de animais e diminuir a taxa de abandono.</p>
                </div>
               
                
     </section>
      <section class="section-2  ">
          <div class="container">
              <div class="text-section1">
                  <h2>Desenvolvemos sistemas únicos</h2>
                  <p>Para todas as plataformas e diversos segmentos:</p>
                  <ul>
                      <li>Lojas virtuais</li>
                      <li>Sites institucionais</li>
                      <li>Sistemas corporativos</li>
                      <li>Muitos outros</li>
                  </ul>
                  <div class="botao1" id="botao1"><span>Entre em contato</span></div>
                  <div class="clear"></div>
              </div> <!--text section 1-->
              <div class="device-section2"></div>
              <div class="clear"></div>
          
          </div> <!--container-->
      </section>
      
      
      <div style="width:100% ; height:4px ; background-color:black ;" class="row"></div>
      <section class="section_main section_main-3"> 
        
        <div class="group-1" data-anime="left" ></div>
        <div class="group-2" data-anime="right" >
            <p>O objetivo do projeto Viva Pets é causar comoção por parte da população, incentivando-os a adoção de animais por meio da aplicação, e em contrapartida diminuir a taxa de abandono.
                Desenvolvemos um software capaz integrar toda a população e ONGs num objetivo de um maior controle sobre toda essa situação. Pelo próprio aplicativo e site será possível realizar diversas operações, como o cadastro e a divulgação de animais abandonados, que ocorrerá de forma dinâmica e fácil, possibilitando então estes serem adotados e encontrados rapidamente. </p>
        </div>
        
      </section>
      <section class="section_main section_main-3"> 
        
        <div class="group-1" data-anime="left" ></div>
        <div class="group-2" data-anime="right" >
            <p>O objetivo do projeto Viva Pets é causar comoção por parte da população, incentivando-os a adoção de animais por meio da aplicação, e em contrapartida diminuir a taxa de abandono.
                Desenvolvemos um software capaz integrar toda a população e ONGs num objetivo de um maior controle sobre toda essa situação. Pelo próprio aplicativo e site será possível realizar diversas operações, como o cadastro e a divulgação de animais abandonados, que ocorrerá de forma dinâmica e fácil, possibilitando então estes serem adotados e encontrados rapidamente. </p>
        </div>
        
      </section>
      <section class="section_main section_main-3"> 
        
        <div class="group-1" data-anime="left" ></div>
        <div class="group-2" data-anime="right" >
            <p>O objetivo do projeto Viva Pets é causar comoção por parte da população, incentivando-os a adoção de animais por meio da aplicação, e em contrapartida diminuir a taxa de abandono.
                Desenvolvemos um software capaz integrar toda a população e ONGs num objetivo de um maior controle sobre toda essa situação. Pelo próprio aplicativo e site será possível realizar diversas operações, como o cadastro e a divulgação de animais abandonados, que ocorrerá de forma dinâmica e fácil, possibilitando então estes serem adotados e encontrados rapidamente. </p>
        </div>
       
      </section>

      
      <%- include("./parts/footer.ejs") %> 
        
</body>
</html>