<header class="header">
    <div class="logo">
        <h1><a href="/">Viva Pets</a></h1>
    </div>
    <nav class="navbar">
        <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/aboutus">Animais</a></li>
              <li><a href="/sistema">Sistema </a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>
</header>