*{
    margin: 0;
    padding: 0;  
  }
  
html{
    height: 100%;
}
  body{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      padding-right: 0 !important;
      min-height: 100%;
  }
.header{

    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    align-items: center;
    height: 60px;
}

.header .logo h1{
    margin-left: 10px;
    letter-spacing: 0.3rem;
}
.header .navbar ul{
    list-style: none;
    display: flex;
    margin: 0 !important;
    height: 60px;
    align-items: center;
    
}

.logo #word-1{
    color:white
}
.logo #word-2{
    color: #a43cc9;
}
.navbar a{
    color: #e4e4e4;
}
.navbar span {
    color: #000;
}
.header .navbar ul li{
    transition : all 0.5s;

    border-bottom: 3px solid transparent;
    margin-right: 15px;
}
.header .navbar ul li:hover{
    
    border-bottom-color:  #a43cc9;
    margin-right: 15px;
  
}
.header .navbar ul li a{
    cursor: pointer;
    font-size: 19px;
    color: white;
}
#logout{
    margin-left: 10px;
}

  
.section_main .group-1{
    width: 50%;
    height: 300px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-image: url(../assets/petsHouse.jpeg);
    background-size: cover;
    background-position: center;
}

.section_main {
    display: flex;
    align-items: center;
}
.section_main-2 .group-1 {
    width: 100%;
}
.section_main .group-2{
    padding: 20px;
    width: 50%;
   
}

.section_title .content-box{
    width: 500px;
    display: flex;
    z-index: 2;
    flex-flow:column;
    justify-content: flex-end;
}
.section_title h1{
    color:#e3e4f3;
}
.section_title .content-box p{
    font-size: 20px;
    color:#b3b5d9;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.section_title{
    position: relative;
    padding-top: 85px;
    padding-right: 40px;
    margin-top:-60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-image: url(../assets/adocao2.png);
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    height: 700px;
}


section.section-2 .container{
    max-width: 1000px;
}
section.section-2{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    max-height: 400px;
}


.text-section1{
  width: 50%;
  float:left;
  position: relative;
  left: 40px;
  margin-top: 50px;
  padding-left: 45px;
  color: white;
}

.text-section1 h2{
    font-size: 26px;
    font-weight: 300;

}

.text-section1 p, .text-section1 label{
    margin-top: 20px;
    font-size: 16px;
    
}
.text-section1 ul li{ 
    padding-left: 10px;
    font-size: 16px;
    margin-top: 20px;
    list-style: inside;
}

.text-section1 label{
    cursor: pointer;
}

.device-section2{
    position: relative;
    top: -30px;
    right:40px;
    z-index: 2;
    width: 50%;
    height:430px;
    float: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/device.png);
}

.botao1{
    margin-left: 20px;
    color: white;
    line-height: 44px;
    cursor: pointer;
    text-align: center;
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    border-radius: 25px;
    margin-top: 15px;
}

.group-2 p{
    font-size: 20px;
}

.footer{
    width: 100%;
    padding:  0 2%;
    background: #472562;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: #fff;
    margin: 0 !important;
}


/* ANIMAÇÃO */

[data-anime]{
    position: relative;
    opacity: 0;
    transition: .8s;
}

[data-anime="left"]{
    transform: translate3d(-100%,0,0);
}
[data-anime="right"]{
    transform: translate3d(100%,0,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}